<main class='p-5'>

    {{! Version 1
    
    <div class='row g-5'>
        <div class='col-12'>
            <div>
                <label class='form-label'>Email address</label>
                <input class='form-control' />
                <div class='form-text text-danger'>Error. You need to set correct email</div>
            </div>
            <div class='col-12'>
                <label class='form-label'>Send your feedback</label>
                <div class='row'>
                    <div class='col-2'>
                        <input type='color' class='form-control' />
                    </div>
                    <div class='col-2'>
                        <input type='color' class='form-control' />
                    </div>
                    <div class='col-2'>
                        <input type='color' class='form-control' />
                    </div>
                </div>
                <div class='form-text'>Wee need your mean about our product</div>
            </div>
        </div>
    </div> }}

    Version 1

    <div class='row g-5'>
        <div class='col-12'>
            <div class='mb-5'>
                <label class='form-label'>Email address</label>
                <input class='form-control' />
                <div class='form-text text-danger'>Error. You need to set correct email</div>
            </div>
            <div class='col-12'>
                <div class='row'>
                    <div class='col-3'>
                        <label class='form-label'>Send your feedback</label>
                    </div>
                    <div class='col-2'>
                        <input type='color' class='form-control' />
                    </div>
                    <div class='col-5'>
                        <div class='form-text'>Wee need your mean about our product</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>