<main>
    {{#with navigation}}
        <div class='card'>
            <nav class='navbar'>
                <div class='container-fluid'>
                    <span class='navbar-brand'>{{Logo}}</span>
                    <div class='nav'>
                        {{#each links}}
                            {{!-- {{#if disabled}} --}}
                            <div class='nav-item'>
                                <a href='{{href}}' class='nav-link active'>
                                    {{text}}
                                </a>
                            </div>
                            {{!-- {{/if}} --}}
                        {{/each}}
                    </div>
                </div>
            </nav>
        </div>
    {{/with}}
</main>