{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 1000,
    "overrides": [{ "files": "**/*.{hbs}", "options": { "parser": "glimmer" } }],

    "files.associations": {
        "*.hbs": "glimmer"
    },
    "emmet.includeLanguages": {
        "glimmer": "html"
    },
    "editor.formatOnSave": true
}
