<section class='mt-4'>
    {{#with goodsOtherBlock}}
        <h2 class='text-center my-3'>{{title}}</h2>
        <div class='row'>
            {{#each cards}}
                <div class='col-4'>
                    <div class='card'>
                        <img src='{{image}}' alt='#' class='card-img-top' />
                        <div class='card-body'>
                            <h5 class='card-title'>
                                {{title}}
                                {{#if isHot}}
                                    <sup><span class='badge rounded-pill text-bg-warning text-uppercase'>Hot!</span></sup>
                                {{/if}}
                                {{#if isNew}}
                                    <sup><span class='badge rounded-pill text-bg-primary'>New</span></sup>
                                {{/if}}
                            </h5>
                            <div class='card-text'>{{description}}</div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/with}}
</section>